/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */

/* CSS pour l'impression des images avec la visionneuse */

/* Propriétés générales */
body {
	font-family: Arial;
	font-size: 10pt;
	margin: 0px;
}

/* Le div de l'en-tête */
div.header {
	text-align: center;
}

/* Le tableau pour l'en-tête */
div.header table {
	margin-top: 0pt;
	margin-bottom: 5pt;
}
/* Le tableau pour le bas de page */
div.footer table {
	margin-top: 5pt;
	margin-bottom: 0pt;
}
/* Des cellules alignées à droite ou à gauche */
td.right {
	text-align: right;
}
td.left {
	text-align: left;
}
/* Les rangées en alignement vertical au-dessus */
div.header tr, div.footer tr {
	vertical-align: top;
}

/* Propriétés associées aux images */

/* Toutes les images */
div.image {
	text-align: center;
}

/* Les images plus larges que hautes */
div.image-landscape {
	/* [JC] La taille de l'image est geree dans le HTML pour eviter les deformations */
	/*width: 1000px;*/
}
/* Les images plus hautes que larges */
div.image-portrait {
	display: block;
	position: relative;
	/* [JC] La taille de l'image est geree dans le HTML pour eviter les deformations */
	/* height: 850px;*/
}

/* Les images elles-mêmes */
div.image-portrait img.img {
	/* [JC] La taille de l'image est geree dans le HTML pour eviter les deformations */
	/*height: 100%;*/
}
div.image-landscape img.img {
	/* [JC] La taille de l'image est geree dans le HTML pour eviter les deformations */
	/*width: 100%;*/
}
