/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Feuille de style spécifique à IE7 :
les hacks necéssaires pour toutes les versions de IE
*doivent* être placés dans module-img-viewer-IE.css */
#piv-body-main-lcol a{
	overflow:hidden;
}

.piv-context-bg {
	height:auto; /* verifier */
}

.piv-body-hmenu-navigation,
#piv-body-hmenu-navigation {
	padding:1px 26px 1px 0;
}

#piv-body-hmenu {
	height:25px;
}

.piv-body-hmenu-slider span,
#piv-body-hmenu-slider span {
	vertical-align:top
}

#pnl-loading {
	width:13em;
}

#btn-help,
#btn-goto-opener,
#btn-home{
	margin-right: 3px;
}
#piv-zoom-slider {
	display:inline;
	text-align:left;
}
#piv-mnu-zoom a,
#zoom-sld-imageselect-bg {
	display:inline-block;
}
#piv-body-hmenu  {
	height:auto;
}
#sld-imageselect-bg {
	text-align:left;
}