/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */

/* CSS pour les pages générées par le serveur d'images */

/* L'explorateur de ressources */

div.pl-is-explore-bc {
	margin-top: 10pt;
	margin-bottom: 5pt;
	font-size: 120%;
}

span.pl-is-explore-bc-folder-current {
	font-weight: bold;
}

.yui-pg-page{
	padding:0 .5em;
}
