/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Feuille de style spécifique à IE6 :
les hacks necéssaires pour toutes les versions de IE
*doivent* être placés dans module-img-viewer-IE.css */
#piv-print-menu fieldset{
	width:13em;
}
#piv-zoom-slider {
	display:inline;
	text-align:left;
}
#piv-mnu-zoom a,
#zoom-sld-imageselect-bg {
	display:inline-block;
	z-index:10;
}
#pl-pg-footer {
	background:#222222;
	height:30px;
	width:auto;
	display:block;
}
#sld-imageselect-bg {
	text-align:left;
}