/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */

body {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	background-color: #E7E7E7;
	margin:0;
}

a{
	cursor:pointer;
}

#no-image span.title{
	font-size:1.1em;
	padding:.1em;
	background-color:black;
	display:block;
	font-weight:bold;
	margin-bottom:.2em;
}
#no-image{
	background-color:#333333;
	color:white;
	text-align:center;
	padding-bottom:.5em;
	margin:12em 3em 0 3em;
	border:1px black solid;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

/* Partie du haut qui donne le contexte du site */
.piv-context {
	margin:0 0 .5em 32px;
	font-size:160%;
}
.piv-context-bg {
	border-bottom:1px solid #999999;
	background:transparent url(../images/logo-ead-bg.png) repeat-x top left;
}
.piv-context {
	background:transparent url(../images/logo-ead.png) no-repeat 0 50%;
	margin:0 0 0 26px
}
.piv-context h1 {
	margin:0 0 0 30px;
	padding: .1em;
	font-size:100%;
	color:#fff;
}
/* html */
.access, .hidden {
	display: none;
}
.invisible{
	visibility:hidden;
}

form {
	padding:0 0 0 0;
	margin:0 0 0 0;
}

p {
	font-size:100%;
}
input {
	font-size:100%;
}

/* Structure */
#pl-pg-header {
	background:#333333;
	height:25px;
	border-bottom:1px solid #000000;
}
#pl-pg-header h1 {
	font-size:1em;
	font-weight:normal;
	color:#FFF;
	margin:0 0 0 35px;
	padding:3px;
	display:inline-block;
}
#pl-pg-footer {
	position:relative;
	background:none repeat scroll 0 0 #222222;
}
#piv-body {
	background: none repeat scroll 0 0 #444444;
}
#piv-body-top {
	margin:0;
}
#piv-body-main {
	color:black;
	clear:both;
}
#piv-body-hmenu {
	margin:0;
	padding:1px 0;
	text-align:center;
	position:relative;
}
#piv-body-main-lcol {
	list-style-type:none;
	margin:10px 10px 0 10px;
	padding:0;
	width:auto;
	z-index:10;
	position:absolute;
}

#piv-mnu-recup {
	float:right;
	padding:0 10px 0 10px;
	margin:0;
	display:inline-block;
}

#piv-mnu-zoom{
	background:#222;
	text-align:center;
}

#piv-body-bottom {
	color:black;
}
.piv-localisation {
	margin:0;
	padding:0;
}

#txt-imageselect,
#span-imageselect-last {
	display:inline-block;
}
#txt-imageselect,
.piv-txt-input {
	width:2em;
	text-align:right;
	border:1px solid #333;
}
.in-edit {
	background:#acacac;
}
#span-imageselect-last {
	width:2em;
	text-align:left;
}

.piv-txt-input {
	background:#acacac /* url(../images/module-img-viewer/piv-input-bg-off.png) repeat-x top left */;
	border:none;
	padding:0;
	font-size:95%;
}

#piv-body-hmenu-navigation {
	white-space:nowrap;
}
#piv-body-hmenu #piv-body-hmenu-navigation a{
	margin:0;
}

#piv-body-hmenu-slider {
	white-space:nowrap;
	padding:0;
	vertical-align:middle;
}
.piv-body-lmenu {
	padding: 0 0 0 0;
	border:none;
	width:25px;
	float:left;
}
.piv-body-lmenu fieldset {
	width:25px;
	float:left;
}
.piv-body-lmenu select {
	white-space:nowrap;
}
/****** Slider ****/

#sld-imageselect-hdl {
	position:relative;
	left: 0px; /* the default position is the center of the bg */
	top: 4px;  /* force the image down a bit */
	width:11px;
	height:11px;
}

#sld-imageselect-bg {
	margin:0 auto;
	background:url(../images/module-img-viewer/sld-imageselect-bg.png) 0% 7px repeat-x;
	height:20px;
	width:300px;
	z-index:5
}
#sld-imageselect-txt {
	float: left;
}
.piv-body-bottom-infos {
	padding:.5em 10px 0.5em 30px;
}
.piv-body-bottom-bg {
	background:url(../images/pg.png) repeat-x 0% -130px;
}
/*  Placement du logo Pleade */
.piv-logo-pleade {
	float:right;
	margin:.3em 15px 0 0;
	border:none;
}
img {
	border:none;
}


/****** Fenetre de placement de l'image ******/
#piv-body-main-mcol {
	background:#444444;
	margin:0;
	padding:0;
	position:relative;
}

#piv-mcol-frame {
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 300px;
	overflow:hidden;
}

div#pnl-picture {
	position: absolute; /* à cause du float left de la barre d'outils */
	z-index: 0;
}

/**********************************************

          Les icones des boutons

***********************************************/

/******* Boutons du bandeau titre ******/

/*********** Navigation dans un lot **********/

/************ Bouton Push *************/

/* Bouton telecharger */
#btn-download {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3750px;
	margin-top:-2px;
}
#btn-download:hover{
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -2640px;
}
#btn-download:active,
.pl-pg-help .btn-download-span {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -1560px;
}
/****** Boutons d'actions sur les images ******/

/************ Radio buttons *************/

.pl-pg-help .overview-box {
	background:url(../images/module-img-viewer/apercu.png) no-repeat 0 0;
	width: 289px;
	height: 255px;
}

/******* Boutons telechargement *****/
/****** Panel *****/

/* Apply the border to the right side */
#overview{
	border:1px solid #5E5E5E;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#pnl-overview {
	border:none;
	overflow:visible;
	width:200px;
}

/* Panneau de chargement des images */
#pnl-loading {
	position: absolute;
	/** Le positionnement est géré en JavaScript */
	background: white;
	padding: 10px;
	text-align: left;
	border:1px solid #6593cf;
	z-index: 20001;
}
.pnl-loading-inside {
	background-image:url('../images/pnl-loading.gif');
	background-repeat: no-repeat;
	background-position:top left;
	height: 20px;
}
#pnl-loading-static {
	margin-left: 20px;
	color: black;
}

/* Div qui permet de faire une sélection */
#pnl-zoomselect {
	position: absolute;
}
.img-mask {
	background-color: #00CAEE;
	cursor: move;
	opacity:0.3;
}

/* Div  de la fenêtre d'aperçu */

/*div#pnl-overview .container-close {
	height:13px;
	width:13px;
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -450px;
}*/

div#pnl-overview-vp {
	position: relative;
	overflow: hidden;
	width:100%
}

div#pnl-overview-mask {
	position: absolute;
	width: 75px;
	height: 75px;
	z-index: 1000;
}
/** Pour la barre de chargement de la fenêtre d'aperçu */
div#loadBarContainer {
	background:none repeat scroll 0 0 black;
	border:1px solid white;
	height:10px;
	opacity:0.66;
	text-align:left;
	vertical-align:top;
  position:absolute;
}
div#loadBar {
	background:none repeat scroll 0 0 white;
	border:0 none;
	color:black;
	font-family:sans-serif;
	font-size:9px;
	font-weight:bold;
	height:10px;
	left:0;
	letter-spacing:0.25em;
}

/* Pour la mosaïque */
div.piv-mosaic-grid {
	border-style: solid;
	border-color: #3D77CB;
	border-width: 1px;
}

div.piv-mosaic-grid:hover {
	background-color: #6699ff;
	opacity:.35;
	cursor: pointer;
}
div.piv-mosaic-navigation-top, div.piv-mosaic-navigation-right, div.piv-mosaic-navigation-bottom, div.piv-mosaic-navigation-left {
	position: absolute;
	cursor: pointer;
	z-index: 10;
}
div.piv-mosaic-navigation-top:hover, div.piv-mosaic-navigation-right:hover, div.piv-mosaic-navigation-bottom:hover, div.piv-mosaic-navigation-left:hover {
	cursor: pointer;
}
div.piv-mosaic-navigation-top, div.piv-mosaic-navigation-bottom {
	width: 75px;
	height: 25px;
}
div.piv-mosaic-navigation-right, div.piv-mosaic-navigation-left {
	width: 25px;
	height: 75px;
}

div.piv-mosaic-navigation-top {
	background: transparent url(../images/module-img-viewer/tile-top.png) no-repeat top left;
}
div.piv-mosaic-navigation-top:hover {
	background: transparent url(../images/module-img-viewer/tile-top-on.png) no-repeat top left;
}
div.piv-mosaic-navigation-bottom {
	background: transparent url(../images/module-img-viewer/tile-bottom.png) no-repeat top left;
}
div.piv-mosaic-navigation-bottom:hover {
	background: transparent url(../images/module-img-viewer/tile-bottom-on.png) no-repeat top left;
}
div.piv-mosaic-navigation-right {
	background: transparent url(../images/module-img-viewer/tile-right.png) no-repeat top left;
}
div.piv-mosaic-navigation-right:hover {
	background: transparent url(../images/module-img-viewer/tile-right-on.png) no-repeat top left;
}
div.piv-mosaic-navigation-left {
	background: transparent url(../images/module-img-viewer/tile-left.png) no-repeat top left;
}
div.piv-mosaic-navigation-left:hover {
	background: transparent url(../images/module-img-viewer/tile-left-on.png) no-repeat top left;
}

/* Pages d'aide */
.pl-pg-help .btn-imageselect-span{
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat -4px -425px;
	width:20px;
	display:block;
	border:none;
	float:left;
}
.pl-pg-help .piv-txt-input {
	background:white url(../images/module-img-viewer/piv-input-bg-off.png) repeat-x scroll left top;
	border:1px solid #939393;
	float:left;
	font-size:95%;
	margin-right:0.5em;
	padding:0.1em 0.3em 0.3em;
}

div#zoom-box {
	position: absolute;
	border: 1px solid #3D77CB;
	background-color: #00caee;
	opacity:.40;
}

img#pnl-image-loading {
	position: absolute;
	visibility: hidden;
}

/* Boutons de navigation */
#pl-pg-body-menu-box {
	float:right;
	display:inline-block;
	padding:4px 6px 0;
	margin:0;
	z-index:10;
	padding-left:10px;
	background:transparent url(../images/module-img-viewer/separateur_top.png) no-repeat 0 0;
}

#pl-pg-body-menu-box li {
	display:inline;
}


#btn-help,
#btn-goto-opener,
#btn-home,
#btn-close-window,
#btn-close-mosaic {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat;
	height:16px;
	width:16px;
	white-space: nowrap;
	overflow:hidden;
	display:inline-block;
}

/* Bouton d'aide */
#btn-help {
	background-position: 0% -3780px;
}
#btn-help:hover {
	background-position: 0% -2670px;
}
#btn-help:active {
	background-position: 0% -2670px;
}

/* Retour à la fenêtre principale */
#btn-goto-opener {
	background-position: 0% -3840px;
}
#btn-goto-opener:hover {
	background-position: 0% 0px;
}
#btn-goto-opener:active {
	background-position: 0% 0px;
}

/* Retour à la page d'accueil */
#btn-home {
	background-position: 0% -3810px;
}
#btn-home:hover {
	background-position: 0% -2730px;
}
#btn-home:active {
	background-position: 0% -1220px;
}

/* Fermeture de la fenêtre */
#btn-close-window,
#btn-close-mosaic {
	background-position: 0% -3330px;
}
#btn-close-window:hover,
#btn-close-mosaic:hover {
	background-position: 0% -2220px;
}
#btn-close-window:active,
#btn-close-mosaic:active {
	background-position: 0% -1140px;
}

/** Print menu panel **/
div#piv-print-menu,
div#piv-dl-menu,
div#piv-version-menu {
	position: absolute;
	z-index: 2;
	text-align: center;
	background:none repeat scroll 0 0 #262626;
	border:1px solid #4B4B4B;
	color:white;
	padding:.2em;
}

div#piv-print-menu fieldset,
div#piv-dl-menu fieldset {
	border:none;
}

.panelHeader{
	background-color:#222;
	border-color:#FFFFFF #FFFFFF #434343;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-size:100%;
	font-weight:bold;
	line-height:100%;
	white-space:nowrap;
	text-align: center;
	position:relative;
}

.panelHeader span.title{
	line-height:130%; /* To "center" title vertically */
}

#overview div.panelHeader{
	border:none;
}

/***** BOUTONS - NOUVELLE VERSION *****/
.piv-separation {
	background:url(../images/module-img-viewer/separateur_bottom.png) no-repeat;
	display:inline-block;
	height:24px;
	width:1px;
}

#pnl-nav-cotes a,
#piv-body-hmenu a,
#btn-download,
#piv-mnu-recup a,
#piv-mnu-zoom a {
	vertical-align:middle;
	height:25px;
	width:28px;
	text-indent:30px;
	white-space: nowrap;
	margin: 0;
	padding:0;
}
#piv-body-main-lcol a {
	height:25px;
	width:28px;
	text-indent:30px;
	white-space: nowrap;
	margin: 0;
	padding:0;
}
#piv-mnu-zoom a#btn-zoomout,
#piv-mnu-zoom a#btn-zoomin {
	width:30px;
	height:30px;
	margin-bottom:.2em;
}

#piv-body-main-lcol a,
#piv-body-hmenu a,
#piv-mnu-recup a,
#piv-mnu-zoom a {
	display:block;
}
#pnl-nav-cotes a,
#piv-body-hmenu a,
#piv-mnu-recup a,
#piv-mnu-zoom a,
#piv-body-main-lcol a{
	display:inline-block;
	overflow:hidden;
}
/**** NAVBAR ****/
/* Bouton premiere page */
#btn-mv-first {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3570px;
}
#btn-mv-first:hover {
	background-position: 0% -2460px;
}
#btn-mv-first:active {
	background-position: 0% -1380px;
}
#btn-mv-first.disabled {
	background-position: 0% -4890px;
}
/* Bouton reculer */
#btn-mv-stepbackward {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3600px;
}
#btn-mv-stepbackward:hover {
	background-position: 0% -2490px;
}
#btn-mv-stepbackward:active {
	background-position: 0% -1410px;
}
#btn-mv-stepbackward.disabled {
	background-position: 0% -4920px;
}
/* Bouton precedent */
#btn-mv-previous {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3630px;
}
#btn-mv-previous:hover {
	background-position: 0% -2520px;
}
#btn-mv-previous:active {
	background-position: 0% -1440px;
}
#btn-mv-previous.disabled {
	background-position: 0% -4950px;
}
/* Bouton suivant */
#btn-mv-next {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3660px;
}
#btn-mv-next:hover {
	background-position: 0% -2550px;
}
#btn-mv-next:active {
	background-position: 0% -1470px;
}
#btn-mv-next.disabled {
	background-position: 0% -4980px;
}
/* Bouton avancer */
#btn-mv-stepforward {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3690px;
}
#btn-mv-stepforward:hover {
	background-position: 0% -2580px;
}
#btn-mv-stepforward:active {
	background-position: 0% -1500px;
}
#btn-mv-stepforward.disabled {
	background-position: 0% -5010px;
}

/* Bouton derniere page */
#btn-mv-last {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3720px;
}
#btn-mv-last:hover {
	background-position: 0% -2610px;
}
#btn-mv-last:active {
	background-position: 0% -1530px;
}
#btn-mv-last.disabled {
	background-position: 0% -5040px;
}
/* Bouton Aller à l'image... */
#piv-body-hmenu #btn-imageselect {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat -4px -420px;
	width:10px;
}
#btn-imageselect:hover {
	background-position: -4px -3300px;
}
#btn-imageselect:active {
	background-position: -4px -1110px;
}
#btn-imageselect.disabled {
	background-position: 0% -4620px;
}
/**** /NAVBAR ****/

/**** TOOLBAR ****/
/* Bouton drag */
#btn-pan {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -2910px;
}

#btn-pan:hover {
	background-position: 0% -1800px;
}
#btn-pan:active {
	background-position: 0% -720px;
}
#btn-pan.checked,
#btn-pan.checked:hover {
	background-position:0% -30px;
}
#btn-pan.disabled {
	background-position: 0% -4230px;
}
/* Bouton zoomer plus */
#btn-zoomin  {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -2940px;
}
#btn-zoomin:hover {
	background-position: 0% -1830px
}
#btn-zoomin:active {
	background-position: 0% -750px;
}
#btn-zoomin.disabled {
	background-position: 0% -4260px;
}
/* Bouton zoomer moins */
#btn-zoomout {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -2970px;
}
#btn-zoomout:hover {
	background-position: 0% -1860px;
}
#btn-zoomout:active {
	background-position: 0% -780px;
}
#btn-zoomout.disabled {
	background-position: 0% -4290px;
}
/* Bouton agrandir une partie de l'image */
#btn-zoomselect {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3000px;
}
#btn-zoomselect:hover {
	background-position: 0% -1890px;
}
#btn-zoomselect:active {
	background-position: 0% -810px;
}
#btn-zoomselect.checked,
#btn-zoomselect.checked:hover {
	background-position: 0% -120px;
}
#btn-zoomselect.disabled {
	background-position: 0% -4320px;
}
/* Bouton verrou zoom - checkbutton*/
#btn-lockzoom {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3030px;
}
#btn-lockzoom:hover {
	background-position: 0% -1920px;
}
#btn-lockzoom:active {
	background-position: 0% -840px;
}
#btn-lockzoom.checked,
#btn-lockzoom.checked:hover {
	background-position: 0% -150px;
}
#btn-lockzoom.disabled {
	background-position: 0% -4350px;
}
/* Bouton ajuster taille reelle */
#btn-realsize {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3060px;
}
#btn-realsize:hover {
	background-position: 0% -1950px;
}
#btn-realsize:active {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -870px;
}
#btn-realsize.disabled {
	background-position: 0% -4380px;
}

/* Bouton ajuster taille de la fenetre */
#btn-fitscreen {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3120px;
}
#btn-fitscreen:hover {
	background-position: 0% -2010px;
}
#btn-fitscreen:active {
	background-position: 0% -930px;
}
#btn-fitscreen.disabled {
	background-position: 0% -4440px;
}
/* Bouton contraste image */
#btn-contrast {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3150px;
}
#btn-contrast:hover {
	background-position: 0% -2040px;
}
#btn-contrast:active {
	background-position: 0% -960px;
}
#btn-contrast.checked,
#btn-contrast.checked:hover {
	background-position: 0% -270px;
	cursor: auto
}
#btn-contrast.disabled {
	background-position: 0% -4470px;
}
/* Bouton Grille */
#btn-grid {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3240px;
}
#btn-grid:hover {
	background-position: 0% -2130px;
}
#btn-grid:active {
	background-position: 0% -1050px;
}
#btn-grid.checked,
#btn-grid.checked:hover {
	background-position: 0% -360px;
}
#btn-grid.disabled {
	background-position: 0% -4560px;
}

/* Bouton Rotation */
#btn-rotate {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3180px;
}
#btn-rotate:hover {
	background-position: 0% -2070px;
}
#btn-rotate:active {
	background-position: 0% -990px;
}
#btn-rotate.disabled {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -4500px;
}
/* Bouton Overview */
#btn-overview {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3210px;
}
#btn-overview:hover {
	background-position: 0% -2100px;
}
#btn-overview:active {
	background-position: 0% -1020px;
}
#btn-overview.checked,
#btn-overview.checked:hover {
	background-position: 0% -330px;
}
#btn-overview.disabled {
	background-position: 0% -4530px;
}
/* Bouton Print */
#btn-print {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3270px;
	border-left:1px solid #333;
	border-right:1px solid #333;
}
#btn-print:hover,
#btn-print:active,
#btn-print.checked,
#btn-print.checked:hover {
	background-position:  0% -2160px;
	border-left:1px solid #4B4B4B;
	border-right:1px solid #4B4B4B;
}

#btn-print.disabled {
	background-position: 0% -4590px;
}
/* Bouton Download */
#btn-dl {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0 -3750px;
	border-left:1px solid #333;
	border-right:1px solid #333;
}
#btn-dl:hover,
#btn-dl:active,
#btn-dl.checked,
#btn-dl.checked:hover {
	background-position: 0% -2640px;
	border-left:1px solid #4B4B4B;
	border-right:1px solid #4B4B4B;
}

#btn-dl.disabled {
	/** FIXME: mettre une image */
	/*background-position: 0% -4590px;*/
}
/* Bouton Mosaique */
/** FIXME: décommenter les instructions bg quand on aura l'image qui va bien */
#btn-mosaic {
	/*background:url(../images/loading.png) no-repeat 0 0;*/
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0 -3350px;
}
#btn-mosaic:hover {
	background-position: 0% -2010px;
}
#btn-mosaic:active {
	background-position: 0% -1610px;
}
#btn-mosaic.checked {
	background-position: 0% -1160px;
	cursor: auto
}
#btn-mosaic.checked:hover {
	background-position: 0% -1160px;
	cursor: auto
}
#btn-mosaic.disabled {
	/*background-position: 0% -4560px;*/
}
/* Bouton Commentaires */
/** FIXME: décommenter les instructions bg quand on aura l'image qui va bien */
#btn-comment {
	/*background:url(../images/loading.png) no-repeat 0 0;*/
	background:url(../images/module-img-viewer/comment.png) no-repeat 50% 50%;
}
#btn-comment:hover {
	/*background-position: 0% -2690px;*/
}
#btn-comment:active {
	/*background-position: 0% -1050px;*/
}
#btn-comment.checked,
#btn-comment.checked:hover {
	background-image:url(../images/module-img-viewer/comment-selected.png);
	cursor: auto
}
#btn-comment.disabled {
	/*background-position: 0% -4560px;*/
}

/* Bouton ajout au panier */
#btn-basket-add {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3410px
}

#btn-basket-add:hover {
	background-position:0 -2190px;
}

#btn-basket-add.disabled,
#btn-basket-add.disabled:hover {
	background-position:0 -4730px;
}

#piv-mnu-recup a#pnl-status-version {
	height:25px;
	width:auto;
	padding:0 20px 0 10px;
	text-indent:0;
	cursor:pointer;
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 100% -3380px;
	padding-right:30px;
	color:#d9d9d9;
	border-left:1px solid #333;
	border-right:1px solid #333;
}
#piv-mnu-recup a#pnl-status-version:hover{
	border-left:1px solid #4B4B4B;
	border-right:1px solid #4B4B4B;
	background:#222 url(../images/module-img-viewer/btn-piv.png) no-repeat 100% -2760px;
	color:#FFF;
}

#pl-pg-footer a#link-pleade{
	position:absolute;
	right:10px;
	top:13px;
	width:80px;
	height:20px;
	text-indent:0px;
}
/* Bouton parametres */
#btn-param {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3440px
}

#btn-param:hover {
	background-position:0 -2240px;
}
#btn-param.checked,
#btn-param.checked:hover {
	background-position:0 -1240px;
}
#btn-param.disabled,
#btn-param.disabled:hover {
	background-position:0 -4760px;
}
/* Bouton add-slideShow */
#btn-slideshow-add {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3480px
}

#btn-slideshow-add:hover {
	background-position:0 -2270px;
}
#btn-slideshow-add.checked,
#btn-slideshow-add:hover {
	background-position:0 -1270px;
}
#btn-slideshow-add.disabled,
#btn-slideshow-add.disabled:hover {
	background-position:0 -4790px;
}
/* .pl-pg-viewer-help-box {                          A decommenter lorsque integre dans visionneuse
	background:none repeat scroll 0 0 #151515;
	color:#EDEDED;
	border:none;
	padding:10px;
}
.pl-pg-viewer-help-box h3  {
	background:none repeat scroll 0 0 transparent; A decommanter lorsque integre dans visionneuse
} */
.pl-pg-help ul.icones {
	list-style:none;
}
.pl-pg-help ul.icones li {
	padding:5px 0 5px 30px;
}
.pl-pg-viewer-help-box #btn-help,
.pl-pg-viewer-help-box #btn-goto-opener,
.pl-pg-viewer-help-box #btn-home,
.pl-pg-viewer-help-box #btn-close-window,
.pl-pg-viewer-help-box #btn-close-mosaic {
	height:auto;
	width:auto;
	/* color:#EDEDED;                                       A decommenter lorsque integre dans visionneuse*/
	white-space: nowrap;
	overflow:hidden;
	display:block;
	border:none;
	margin:0;
	padding:2px 0 2px 30px;
}
.pl-pg-help  #sld-imageselect-bg  {
	margin:0;
}


/**** /TOOLBAR ****/

/**** MENUS *****/
#piv-version-tooltip{
	position: absolute;
	z-index: 100;
	text-align: center;
	background: #222 url(../images/module-img-viewer/info.png) 3px 50% no-repeat;
	color:white;
	padding:.3em .3em .3em 40px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	cursor:pointer;
}

#piv-version-menu ul{
	margin:0;
	padding:0.3em;
	list-style-type: none;
	list-style-position:outside;
}

#piv-version-menu a{
	color: white;
	text-decoration: none;
	display:block;
	white-space:nowrap;
	text-align:left;
	padding-left:20px;
}
#piv-version-menu a:hover{
	background-color:#6699FF;
}

#piv-version-menu .checked a{
	background-image: url(../images/module-img-viewer/checked.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
}
/***** /MENUS *****/

/***** TITRE DE L'IR *****/
#current_title{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	color:white;
	z-index:2;
	padding: .4em .2em;
}
#current_title a{
	color:white;
	padding-left:0.5em;
}
/***** /TITRE DE L'IR *****/

/***** INFOS DE L'IR *****/
a#fragment-infos{
  height:16px;
  width:15px;
  text-indent:30px;
  white-space: nowrap;
  margin: 0;
  padding:0;
  display:inline-block;
  overflow:hidden;
  background:url(../images/module-img-viewer/fragment-infos.png) top left no-repeat;
}

#pnl-fragment-infos{
  color:white;
}
/***** /INFOS DE L'IR *****/

/***** PANELS *****/
.piv-resize-panel,
.piv-foreground-panel,
.piv-background-panel,
.piv-drag-panel,
.piv-close-panel{
	overflow: hidden;
	text-indent:25px;
}

.piv-drag-panel{
	background: transparent url(../images/module-img-viewer/drag-panel.png) 0 50% no-repeat;
}

.piv-resize-panel{
	background: transparent url(../images/module-img-viewer/resize-panel.png) 0 50% no-repeat;
}

.piv-foreground-panel{
	background: transparent url(../images/module-img-viewer/foreground-panel.png) 0 50% no-repeat;
}

.piv-background-panel{
	background: transparent url(../images/module-img-viewer/background-panel.png) 0 50% no-repeat;
}

.piv-close-panel{
	background: transparent url(../images/module-img-viewer/close-panel.png) 0 50% no-repeat;
}
#overview .piv-close-panel{
	background: transparent url(../images/module-img-viewer/overview-icon.png) 0 50% no-repeat;
}
.piv-comment .piv-close-panel{
	background-image: url(../images/module-img-viewer/remove-panel.png);
}
/***** /PANELS *****/ 


.img-counter {
	color:#d9d9d9;
}
#piv-div-zoom {
	background:transparent url(../images/module-img-viewer/separateur_zoom.png) repeat-x 0 90%;
}
#piv-zoom-slider {
	display:inline-block;
	text-align:left;
  /** En attendant que la fonctionnalité soit implémentée */
  visibility:hidden;
}
#zoom-sld-imageselect-bg {
	background:transparent url(../images/module-img-viewer/zoom-sld-imageselect-bg.png) no-repeat 0 0;;
	height:24px;
	margin:0 auto;
	width:93px;
	z-index:5;
}
#zoom-sld-imageselect-hdl {
	/* background:transparent url(../images/module-img-viewer/zoom-sld-imageselect-hdl.png) no-repeat 0 0; */
	height:15px;
	left:0;
	position:relative;
	top:7px;
	width:11px;
}
.pl-pg-help .pl-pg-body-menu-box {
	right:10px;
	top:10px;
}

.pl-pg-help  #btn-close-window {
	background:url("../images/module-img-viewer/btn-piv.png") no-repeat scroll 0 0 transparent;
	background-position:0 -3330px;
}
.pl-pg-help  #btn-close-window:hover {
	background-position:0 -2220px;
}
.yui-skin-pleade .pl-pg-help  .yui-button .first-child {
	background:transparent;
}
.pl-pg-help  #pnl-status-version {
	background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0 -3380px;
}
.pl-pg-help  #pnl-status-version:hover{
	background-position:0 -2760px;
}

/* Navigation par cote */
#pnl-nav-cotes {
  vertical-align:middle;
  display:inline-block;
}
#current-cote {
  color:#D9D9D9;
}

/* Bouton precedent */
#cote-previous {
  background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3860px;
}
#cote-previous:hover {
  background-position: 0% -2800px;
}
#cote-previous:active {
  background-position: 0% -2800px;
}
#cote-previous.disabled {
  background-position: 0% -5120px;
}
/* Bouton suivant */
#cote-next {
  background:url(../images/module-img-viewer/btn-piv.png) no-repeat 0% -3890px;
}
#cote-next:hover {
  background-position: 0% -2830px;
}
#cote-next:active {
  background-position: 0% -2830px;
}
#cote-next.disabled {
  background-position: 0% -5150px;
}
