/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Feuille de style spécifique à IE : la transparence n'est gérée que comme cela */
.img-mask {
	filter: alpha(opacity=30);
}

div.piv-mosaic-grid {
	background-color:white; /* IE (6 à 8) ne permet pas de cliquer si l'élément possède un fond transparent */
	filter: alpha(opacity=30); /* On veut voir l'image, il faut rendre transparent. Attention, cette valeur vaut pour le fond *et* les bordures */
}

div.piv-mosaic-grid:hover {
	filter: alpha(opacity=35);
}

div#zoom-box {
	filter: alpha(opacity=50);
}